.navbar {
    grid-area: navbar;
}

.Menu {
    grid-area: menu;
}

.main {
    grid-area: main;
    padding: 10px;

}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
}

.grid-container {
    display: grid;
    min-height: 100%;
    grid-template-areas:
            'navbarr' 'main' 'footer';
    grid-template-rows: auto 1fr auto;
}

